<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.cocoball.lms.notice.map.NoticeMapper">
	<select id="noticeSelectList" resultType="co.cocoball.lms.notice.service.NoticeVO">
		SELECT * FROM BOARD
	</select>
	<select id="noticeSelect"></select>
	<insert id="noticeInsert"></insert>
	<delete id="noticeDelete"></delete>
	<update id="noticeUpdate"></update>
</mapper>